.overlay(ng-click='cancel()')
form.form.create-post-wrapper
  .form-group
    input.form-control(type='text' placeholder='Image URL' ng-model='post.imageUrl')
  .form-group
    textarea.form-control(placeholder='Caption...' ng-model='post.caption')
  .form-group
    button.btn.btn-primary(ng-click='upload(post)') Save
    button.btn.btn-danger(ng-click='cancel()') Cancel
